.wholecontainer {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to top left, #60d3c0 -1%, #5ddd5d 100%);
}

.glassnav {
  background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  border: 1px solid rgba(102, 243, 67, 0.425);
}

.brandname {
  font-size: 2rem;
  font-weight: 900;
  margin-left: 4rem;
  color: #000;
}

.glassButton {
  border-radius: 100px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  border-width: 2 px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.425);
  width: 10rem;
  height: 3rem;
  font-size: 20px;
  color: #0c0a5e;
  font-weight: 600;
}

.instruction {
  margin-top: 6rem;
  font-size: 2rem;
  font-weight: 600;
  color: #f7e0e0;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  box-sizing: border-box;
  animation: zeroRotation 1s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to top left, #234753 0%, #532d40 100%);
  width: 30px;
  height: 30px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

.loader::before {
  left: auto;
  right: 0;
  transform: translate(50%, 100%);
}

@keyframes zeroRotation {
  0% {
      transform: scale(1) rotate(0deg);
  }
  100% {
      transform: scale(0) rotate(360deg);
  }
}