@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
body {
    margin: 0;
    background: rgb(172,122,205);
    background: linear-gradient(90deg, rgba(172,122,205,1) 15%, rgba(226,102,102,1) 52%, rgba(252,176,69,1) 100%);
    background-blend-mode: overlay, overlay, overlay, darken, normal;
    font-family: Arial, Helvetica, sans-serif;
}